{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1>{{ .Title }}</h1>
        <img class="img-fluid mb-50 lozad" data-src="{{ .Params.Image | absURL }}" alt="blog-image">
      </div>

      <div class="col-lg-4 offset-2">
        <h3><strong>FOR IMMEDIATE RELEASE</strong></h3>
        <strong>Contact:</strong><br/>
        <strong>Jennifer Sellitti</strong><br/>
        <strong>781-526-0733</strong><br/>
        <a href = "mailto: jsellitti@dvtenacious.com">jsellitti@dvtenacious.com</a>
      </div>


      <div class="col-lg-4 offset-1">
        <a href={{ .Params.Pdf }}><img src={{ .Params.Thumb }} width="180" height="auto"></a><br/>
        <a href={{ .Params.Pdf }}><strong>Download PDF</strong></a>
      </div>

      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        {{ if site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
